.vinput(
  :class="classes",
  @click.stop="stopClick"
)
  .vinput-value(v-show="!isEdit || isPopup")
    slot
      block value
        a(
          href="javascript:;"
          v-html="previewValue",
          @click.stop="edit"
        )
  .vinput-form(
    :class="formClasses",
    v-show="isEdit"
  )
    slot
      block content
        .vinput-label(v-if="label") {{ label }}
        .vinput-group
          .vinput-input
            slot(name="input")
              block input
                input.vinput-form-control(
                  ref="input",
                  v-model="localValue",
                  :type="type",
                  :placeholder="placeholder",
                  @keyup.enter="save"
                )
          .vinput-action
            PromiseButton.vinput-btn.vinput-btn-primary(
              href="javascript:;",
              :auto-hide="true",
              :promise="save",
              :force-processing="isProcessing"
            )
              Tick
              span.vinput-visually-hidden Save
            a.vinput-btn(
              href="javascript:;",
              @click.stop="cancel"
            )
              Close
              span.vinput-visually-hidden Cancel
    .vinput-arrow(v-if="isPopup")
